/* for SMALL device */
/* navbar section start here */
/* @media screen and (max-width: 600px) {
.header-section {
    flex-direction: column;
  }
}  */

/* banner section START here */
@media screen and (max-width: 600px) {

section.banner {
   object-fit: cover;
   max-width: 95%;
   object-fit: cover;
}
.text h5 {
     font-size: 22px;
}
.text p {
   font-size: 15px;
   width: 305px;
}
.input-banner-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.input-banner {
    width: 316px;
}
.banner {
    margin-top: 35px;
}
input[type="text"] {
    height: 57px;
    width: 280px;
    margin-bottom: 9px;
    margin-left: 8px;
}
select {
height: 57px;
width: 290px;
margin-bottom: 10px;
}
button.btn {
    height: 57px;
    width: 290px;
    margin-left: 10px;
}
.banner {
    background-position: center;
}
}

/* Our Popular Section START here */
@media screen and (max-width: 600px) {
.popular-tours-section {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.popular-tours-img img {    
    width:550px;
}
.popular-tours-text p {
    font-size: 16px;
    margin: 0px;
    overflow-y: hidden;
    margin-bottom: 5px;
    margin-left: 10px;
}
.popular-tours-text ul li {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.popular-tours-text h5 {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.buton {
    margin-left: 10px;
    margin-top: 20px;
}
}

/* Destination section START heere */
@media screen and (max-width: 600px) {
.destination-images,
.destination-img, 
.destination-imags {
    flex-direction: column;
}

.destination-imgs {
    display: grid;
    grid-template-columns: (repeat 1, 1fr);
}

.destination-first-img, 
.destination-second-img {
   width: 100%;
   background-position: center;
   background-size: cover;
}

.destination-third-img {
    width: 175%;
    background-position: center;
    background-size: cover;
}

.destination-fourth-img {
    width: 175%;
    background-position: center;
    background-size: cover;
}

.destination-fivth-img {
    width: 175%;
    background-position: center;
    background-size: cover;
}

.destination-sixth-img {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.destination-seventh-img { 
    width: 100%;
    background-position: center;
    background-size: cover;
}

.destination-text-h h5 {
    font-size: 20px;
}

.destination-text-h p {
    font-size: 14px;
    width: 309px;
}
}

/* Why Choose Us section START */
@media screen and (max-width: 600px) {





}