/* for SMALL device */
/* navbar section start here */
/* @media screen and (max-width: 600px) {
.header-section {
    flex-direction: column;
  }
}  */

/* banner section START here */
@media screen and (max-width: 600px) {
.items-container {
        display: none;
    }
    i.fa-solid.fa-bars {
        margin-left: 174px;
        display: block;
      }

      .nav-container {
        margin-left: 37px;
    }
section.banner {
   object-fit: cover;
   max-width: 95%;
   object-fit: cover;
}

.banner-text {
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 20px;
    display: flex;
}

.text h5 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0px;
    margin-top: 0px;
}
.text p {
   font-size: 15px;
   width: 305px;
}
.input-banner-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.input-banner {
        width: 316px;
        text-align: center;
        margin-left: 135px;
}
.banner {
    margin-top: 35px;
}
input[type="text"] {
    height: 57px;
    width: 280px;
    margin-bottom: 9px;
    margin-left: 8px;
}
select {
height: 57px;
width: 290px;
margin-bottom: 10px;
}
button.btn {
    height: 57px;
    width: 290px;
    margin-left: 10px;
}
.banner {
    background-position: center;
}
}

/* Our Popular Section START here */
@media screen and (max-width: 600px) {
.popular-tours-section {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.popular-tours-img img { 
}

.popular-tours-text {
    margin-left: 10px;
}

.popular-tours-text p {
    font-size: 14px;
    width: 450px;
}
.popular-tours-text li {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 450px;
}
.popular-tours-text h5 {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.buton {
    margin-left: 10px;
    margin-top: 20px;
}
}

/* Destination section START heere */
@media screen and (max-width: 600px) {
.destination-images,
.destination-img, 
.destination-imags {
    flex-direction: column;
}

.destination-images {   
    flex-direction: column;
    width: 700px;  
}


.destination-imgs {
    display: grid;
    grid-template-columns: (repeat 1, 1fr);
}

.destination-first-img, 
.destination-second-img {
   background-position: center;
   background-size: cover;
}

.destination-third-img {
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.destination-fourth-img {
    width: 165%;
    background-position: center;
    background-size: cover;
}

.destination-fivth-img {
    width: 165%;
    background-position: center;
    background-size: cover;
}

.destination-sixth-img {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.destination-seventh-img { 
    width: 100%;
    background-position: center;
    background-size: cover;
}

.destination-text-h h5 {
    font-size: 20px;
}

.destination-text-h p {
    font-size: 14px;
    width: 309px;
}
}

/* Why Choose Us section START */
@media screen and (max-width: 600px) {
    .choose-part {
        display: flex;
        flex-direction: column;
    }
}


/* A Simple Perfect Place section START */
@media screen and (max-width: 600px) {
.perfect-place {
    flex-direction: column;
}
.perfect-place-text h3 {
    font-size: 20px;
    margin-top: 50px;
}
.perfect-place-text p {
    width: 421px;
    font-size: 14px;
}
.perfect-place-text li {
    width: 431px;
    font-size: 14px;
}
}

/* Newsletter section START here */
@media screen and (max-width: 600px) {
.newsleter {
    gap: 44px;
    flex-direction: column;
}
}

/* footer-section */
@media screen and (max-width: 600px) {
.copy-right {
    font-size: 13px;
}
}
